<app-nav1></app-nav1>

<div id="container" class="container">

    <div id="information">

        <img src="https://i.pinimg.com/originals/59/e4/8c/59e48cb1d07bf70c41280a3a3f45d404.gif" style="height: 150px;"
            class="img-thumbnail" alt="...">

        <span class="title_span">
            ¿Ya eres miembro?
            <a class="link-to" href="" [routerLink]="['/inicio_usuario']">Inicia sesión aquí</a>
        </span>

        <div class="button_sign">
            <button type="button" class="btn btn-primary">
                <div class="btn-google"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path
                            d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z">
                        </path>
                    </svg>
                    <span class="google">Registrate con Google</span>
                </div>
            </button>
        </div>

    </div>

    <div id="form">

        <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="record_title">
                <h2>Crea una cuenta de Trabajador</h2>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre"
                        aria-label="Nombre" id="validationCustom01" required>
                </div>
                <div class="col mb-3">
                    <input formControlName="apellidos" type="text" class="form-control" placeholder="Apellidos"
                        aria-label="Apellidos" id="validationCustom01" required>
                </div>
            </div>

            <div class="mb-3">
                <input formControlName="correo" type="email" class="form-control" placeholder="Correo"
                    aria-label="Correo" id="validationCustom01" required>
            </div>

            <div class="col mb-3">
                <input formControlName="contraseña" type="password" class="form-control" placeholder="Contraseña"
                    aria-label="Contraseña" id="validationCustom01" required>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="condiciones" id="inlineRadio1" value="aceptado"
                    formControlName="condiciones" id="invalidCheck" required>
                <label class="form-check-label" for="inlineRadio1">Al registrarte, aceptas nuestros Terminos y
                    Condiciones,
                    y Politicas de Privacidad y Cookies</label>
                    <div class="invalid-feedback">
                        Debes estar de acuerdo antes de registrarse.
                    </div>
            </div>

            <div class="d-grid gap-2" id="butt" *ngIf="load">
                <button type="submit" class="btn btn-primary">Registrarte</button>
            </div>

            <div class="d-grid gap-2" id="butt" *ngIf="!load">
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>

        </form>

    </div>

</div>