<div class="card text-center">
    <div class="card-header">
        <h6 class="title">Evenhome</h6> 
    </div>
    <div class="card-body">
        <p class="text-body-2 legal">
            <span class="privacy">
                <a href="/privacy-policy" target="_blank" class="privacy-policy">Privacy Policy</a>&nbsp;|&nbsp;<a
                    href="/terms_of_service" target="_blank" class="terms-of-service">Terms of Service</a>
            </span>
            <span class="copyright text-trunc">&nbsp; © EvenhomeInternational Ltd. 2021</span>
        </p>
    </div>
</div>