<div>

    <div class="container_h2">
        <h2>
            Información adicional
        </h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngFor="let datos of datos_user">

        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">CV en formato texto (Opcional)</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" formControlName="hojavida"
                 placeholder="Escribir una hoja de vida indicando la información más relevante. (Opcional)"
                    aria-label="CV en formato texto"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input for="pdfword" type="file" class="form-control" id="inputGroupFile02" (change)="upload($event)">
                    <label class="input-group-text" for="pdfword">Actualizar</label>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2" id="butt">
            <button type="submit" class="btn btn-primary">Actualizar datos</button>
        </div>

    </form>

</div>