<app-nav3></app-nav3>

<div class="title">

    <h3>Ahorra tiempo en tu búsqueda publicando tu trabajo en nuestro sitio.</h3>

    <p>Los trabajadores de Latino América son extremadamente talentosos en lo que hacen.
        Poseen una amplia gama de habilidades en varios campos y pueden hacer casi cualquier
        trabajo que pueda ser exitosamente contratado en línea y a distancia.</p>

</div>


<div class="container">

    <div class="text">

        <h3>Registra una cuenta y suscribete</h3>

        <p>Para comenzar, simplemente regístrate como empleador y elige la suscripción adecuada para ti, Busca y
            encuentra
            trabajadores
            remotos y consigue la persona ideal para tu trabajo</p>

        <div class="button">


            <button type="button" class="btn btn-primary" [routerLink]="['/registro_empresa']">Registrar
                empresa</button>


            <button type="button" class="btn btn-primary" [routerLink]="['/inicio_empresa']">iniciar</button>

        </div>

    </div>

    <div class="img">
        <img src="../static/undraw_Done_checking_re_6vyx.svg" style="width: 100%;" class="img-fluid"
            alt="...">
    </div>

</div>


<div class="conten">

    <div class="container">

        <div class="img">
            <img src="../static/undraw_Hacker_mindset_re_8a33 (2).svg" style="width: 100%;" class="img-fluid"
                alt="...">
                
        </div>

        <div class="text2">

            <h3>Ahorra tiempo en tu búsqueda</h3>

            <p>Proporciona una breve descripción del
                trabajo,
                enumera las habilidades requeridas, las expectativas, la disponibilidad salarial y cualquier otro
                requisito
                específico,
                ¡luego deja que candidatos calificados apliquen para tu trabajo!</p>
        </div>

    </div>

</div>

<div class="container">

    <div class="text">

        <h3>¿Qué obtengo con una cuenta gratuita? </h3>

        <p>Podrás publicar 5 trabajos pero no podrás ponerte en contacto con los trabajadores que te interesen, pero
            más adelante cuando decidas actualizar a una suscripción Profesional o Premium ponerte
            facilmente en contacto con ellos sin tener que empezar tu búsqueda desde cero.</p>

        <button type="button" class="btn btn-primary" [routerLink]="['/planes_empresa']">Ver Planes</button>
    </div>

    <div class="img">
        <img src="../static/undraw_discount_d4bd.svg" style="width: 90%;" class="img-fluid" alt="...">
    </div>

</div>


<div class="title2">

    <p>Ningún compromiso a largo plazo, cancela en cualquier momento</p>

</div>

<app-footer2></app-footer2>