<!--
<div>

    <div class="container_h2">
        <h2>
            Experiencias profesionales
        </h2>
    </div>

    <div>
        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" aria-label="..."
            (click)="Experiencias = !Experiencias" checked="true">
        <h6>No tengo experiencia</h6>
    </div>

    <div *ngIf="Experiencias">

        <div class="row">
            <div class="col">
                <label id="titu">Empresa *</label>
                <input formControlName="empresa" type="text" class="form-control" placeholder="Empresa en la que laboro"
                    aria-label="Empresa en la que laboro">
            </div>

            <div class="col">
                <label id="titu">Nombre del Puesto *</label>
                <input formControlName="funcion" type="text" class="form-control"
                    placeholder="Funcion que cumplio en la empresa" aria-label="funcion que cumplio en la empresa">
            </div>

            <div class="col">
                <label id="titu">Actividad de Empresa *</label>
                <select formControlName="area" class="form-select" aria-label="Default select example">
                    <option value="" selected="selected">Actividad de Empresa</option>
                    <option value="agroalimentario">Agroalimentario</option>
                    <option value="automoción y componentes">Automoción y Componentes</option>
                    <option value="administracion publica">Administración Pública</option>
                    <option value="comunicacion">Comunicación</option>
                    <option value="comercio-distribucion">Comercio-Distribución</option>
                    <option value="construcción-contratas">Construcción-Contratas</option>
                    <option value="consultoría y R.R.H.H">Consultoría y R.R.H.H</option>
                    <option value="consultoría tecnológica">Consultoría Tecnológica</option>
                    <option value="energetico">Energético</option>
                    <option value="enseñanza-formacion">Enseñanza-Formación</option>
                    <option value="farmaceutico-quimico">Farmacéutico-Químico</option>
                    <option value="financieras-aseguradoras">Financieras-Aseguradoras</option>
                    <option value="hardware sistemas de telecomunicación">Hardware Sistemas de Telecomunicación
                    </option>
                    <option value="hardware sistemas de informática">Hardware Sistemas de Informática</option>
                    <option value="hosteleria-turismo">Hostelería-Turismo</option>
                    <option value="madera-mueble">Madera-Mueble</option>
                    <option value="metalurgia">Metalurgia</option>
                    <option value="sanitario">Sanitario</option>
                    <option value="software">Software</option>
                    <option value="servicios">Servicios</option>
                    <option value="servicios de telecomunicacion">Servicios de Telecomunicación</option>
                    <option value="servicios de informática">Servicios de Informática</option>
                    <option value="servicios de valor añadido">Servicios de Valor Añadido</option>
                    <option value="servicios audiovisuales y multimedia">Servicios Audiovisuales y Multimedia
                    </option>
                    <option value="servicios de mantenimiento">Servicios de Mantenimiento</option>
                    <option value="transporte">Transporte</option>
                    <option value="textil">Textil</option>
                    <option value="otras">Otras</option>
                </select>
            </div>

        </div>

        <div class="col">
            <label for="exampleFormControlTextarea1" class="form-label">Funciones y logros del cargo</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="logros"
                placeholder="Descripción de las funciones realizadas, proyectos elaborados, competencias, aptitudes... en este puesto de trabajo"
                aria-label="Descripción de las funciones realizadas"></textarea>
        </div>

    </div>

</div>
-->