.col {
    flex: 1 0 0%;
    margin: 10px;
}

.form-control {
    border-radius: 15px;
}

.form-select {
    border-radius: 15px;
    color: #212529a1;
}

.form-control {
    color: #2125299e;
}

.btn{
    border-radius: 15px;
    margin: auto;
}

.tabla{
    width: 100%;
}

#caja{
    margin-bottom: 8%;
    margin-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #4a73e8;
    border-color: #4a73e8;
    margin-bottom: 16px;
    margin-top: 20px;
}