.fondo{
    margin-top: 15px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.col {
    flex: 1 0 0%;
    margin: 10px;
}

.form-control {
    border-radius: 15px;
}

.form-select {
    border-radius: 15px;
    color: #212529a1;
}

.form-control {
    color: #2125299e;
}

.btn{
    border-radius: 15px;
    margin: 16px;
}

.tabla{
    width: 100%;
}