<app-nav1></app-nav1>

<div class="fondo">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngFor="let datos of datos_user">

        <div class="container_h2">
            <h2>
                Datos personales
            </h2>
        </div>

        <div class="row">

            <div class="col">
                <label id="titu">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" placeholder="{{datos[0]}}"
                    aria-label="Nombre" id="validationCustom01" required>
            </div>
            <div class="col">
                <label id="titu">Apellidos</label>
                <input formControlName="apellidos" type="text" class="form-control" placeholder="{{datos[1]}}"
                    aria-label="Apellidos" id="validationCustom01" required>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <label id="titu">Telefono</label>
                <input formControlName="telefono" type="text" class="form-control" placeholder="{{datos[3]}}"
                    aria-label="Telefono" id="validationCustom01" required>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <label id="titu">Nombre de empresa</label>
                <input formControlName="nombrempresa" type="text" class="form-control"
                    placeholder="{{datos[4]}}" aria-label="Nombre de la empresa" id="validationCustom01"
                    required>
            </div>

            <div class="col">
                <label id="titu">Nombre legal Empresa</label>
                <input formControlName="denominacionsocial" type="text" class="form-control"
                    placeholder="{{datos[5]}}" aria-label="Nombre legal Empresa (ACME S.L.)"
                    id="validationCustom01" required>
            </div>

            <div class="col">
                <label id="titu">Telefono empresa</label>
                <input formControlName="telefonoempresa" type="text" class="form-control" placeholder="{{datos[12]}}"
                    aria-label="Telefono empresa" id="validationCustom01" required>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <label id="titu">Pais *</label>
                <select formControlName="pais" class="form-select" aria-label="Default select example" id="validationCustom01" required>
                    <option value="" selected="selected">{{datos[8]}}</option>
                    <option value="argentina">Argentina</option>
                    <option value="bolivia">Bolivia</option>
                    <option value="brasil">Brasil</option>
                    <option value="chile">Chile</option>
                    <option value="colombia">Colombia</option>
                    <option value="costa Rica">Costa Rica</option>
                    <option value="cuba">Cuba</option>
                    <option value="ecuador">Ecuador</option>
                    <option value="el salvador">El Salvador</option>
                    <option value="guatemala">Guatemala</option>
                    <option value="haiti">Haití</option>
                    <option value="honduras">Honduras</option>
                    <option value="mexico">México</option>
                    <option value="nicaragua">Nicaragua</option>
                    <option value="panama">Panamá</option>
                    <option value="paraguay">Paraguay</option>
                    <option value="peru">Perú</option>
                    <option value="republica dominicana">República Dominicana</option>
                    <option value="uruguay">Uruguay</option>
                    <option value="venezuela">Venezuela</option>
                </select>
            </div>

            <div class="col">
                <label id="titu">Tamaño empresa *</label>
                <select formControlName="tamañoempresa" class="form-select" aria-label="Default select example" id="validationCustom01" required>
                    <option value="" selected="selected">{{datos[6]}}</option>
                    <option value="de 1 a 5 trabajadores">De 1 a 5 trabajadores</option>
                    <option value="de 6 a 10 trabajadores">De 6 a 10 trabajadores</option>
                    <option value="de 11 a 50 trabajadores">De 11 a 50 trabajadores</option>
                    <option value="de 51 a 100 trabajadores">De 51 a 100 trabajadores</option>
                    <option value="de 101 a 250 trabajadores">De 101 a 250 trabajadores</option>
                    <option value="de 251 a 500 trabajadores">De 251 a 500 trabajadores</option>
                    <option value="mass de 501 trabajadores">Más de 501 trabajadores</option>
                </select>
            </div>

            <div class="col">
                <label id="titu">Actividad de empresa *</label>
                <select formControlName="actividad" class="form-select" aria-label="Default select example" id="validationCustom01" required>
                    <option value="" selected="selected">{{datos[7]}}</option>
                    <option value="Agroalimentario">Agroalimentario</option>
                    <option value="Automoción y Componentes">Automoción y Componentes</option>
                    <option value="Administración Pública">Administración Pública</option>
                    <option value="Comunicación">Comunicación</option>
                    <option value="Comercio-Distribución">Comercio-Distribución</option>
                    <option value="Construcción-Contratas">Construcción-Contratas</option>
                    <option value="Consultoría y R.R.H.H">Consultoría y R.R.H.H</option>
                    <option value="Consultoría Tecnológica">Consultoría Tecnológica</option>
                    <option value="Energético">Energético</option>
                    <option value="Enseñanza-Formación">Enseñanza-Formación</option>
                    <option value="Farmacéutico-Químico">Farmacéutico-Químico</option>
                    <option value="Financieras-Aseguradoras">Financieras-Aseguradoras</option>
                    <option value="Hardware Sistemas de Telecomunicación">Hardware Sistemas de Telecomunicación
                    </option>
                    <option value="Hardware Sistemas de Informática">Hardware Sistemas de Informática</option>
                    <option value="Hostelería-Turismo">Hostelería-Turismo</option>
                    <option value="Madera-Mueble">Madera-Mueble</option>
                    <option value="Metalurgia">Metalurgia</option>
                    <option value="Sanitario">Sanitario</option>
                    <option value="Software">Software</option>
                    <option value="Servicios">Servicios</option>
                    <option value="Servicios de Telecomunicación">Servicios de Telecomunicación</option>
                    <option value="Servicios de Informática">Servicios de Informática</option>
                    <option value="Servicios de Valor Añadido">Servicios de Valor Añadido</option>
                    <option value="Servicios Audiovisuales y Multimedia">Servicios Audiovisuales y Multimedia
                    </option>
                    <option value="Servicios de Mantenimiento">Servicios de Mantenimiento</option>
                    <option value="Transporte">Transporte</option>
                    <option value="Textil">Textil</option>
                    <option value="Otras">Otras</option>
                </select>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <label id="titu">Dirección de la empresa</label>
                <input formControlName="direccion" type="text" class="form-control" placeholder="{{datos[11]}}"
                    aria-label="Dirección de la empresa" id="validationCustom01" required>
            </div>

            <div class="col">
                <label id="titu">Ciudad</label>
                <input formControlName="ciudad" type="text" class="form-control" placeholder="{{datos[9]}}"
                    aria-label="Ciudad" id="validationCustom01" required>
            </div>

            <div class="col">
                <label id="titu">Código Id. Fiscal</label>
                <input formControlName="codigo" type="text" class="form-control" placeholder="{{datos[10]}}"
                    aria-label="Código Id. Fiscal" id="validationCustom01" required>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <label id="titu">Descripción de la empresa</label>
                <label for="exampleFormControlTextarea1" class="form-label">Descripción de la Empresa</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" formControlName="descripcion"
                    placeholder="{{datos[13]}}" aria-label="Descripción de la empresa" id="validationCustom01" required></textarea>
            </div>

        </div>

        <div class="d-grid gap-2" id="butt">
            <button type="submit" class="btn btn-primary">Actualizar datos</button>
        </div>
    </form>

</div>
